/* For light mode */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
